.trendingThreads-container {
    flex: 0.7;
    padding-left: 10px;    
}
.thread-container{
background-color: rgb(27, 29, 30);
    padding: 5px 6px 5px 6px;
    font-family: Roboto,sans-serif;
    border-bottom: 1px solid rgb(189, 183, 175);
    /* border-left:1px solid rgb(189, 183, 175);
    border-right: 1px solid rgb(189, 183, 175); */
    border-collapse: collapse;
    color :rgb(77, 198, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 1px;
}
.thread-container:hover {
    box-shadow: rgb(0 115 183) 0px 0px 6px;
}
.thread-container:first-child{
    border-top: 1px solid rgb(189, 183, 175);
}